<header>
    <h1>Family Recipes</h1>
    <% if(typeof userData !== 'undefined'){ %>
        <p>Welcome back <%= userData.fname %> <%= userData.lname %></p>
        <% } %>
        <% if(typeof loggedin !== 'undefined' && loggedin == "true"){ %>
            <a href='/logout'>Log Out</a>
            <% } %>
</header>