<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div class="container">
  <h2>Postal Rate</h2>
  <p>Weight: <%= weight %> oz.</p>
  <p>Mail Type: <%= mailType %></p>
  <p>Rate: <%= rate %></p>
  </div>
</body>
</html>