<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles/accounts.css">
</head>
<body>
  <div id="loginBox">
<h1>Register</h1>
<% if(typeof message !== 'undefined'){ %>
    <p><%= message %></p>
    <% } %>
<form method='post' action='/addUser'>
<label for='fName'>First Name: <input name='fName' id='fName' type='text' <% if(typeof fName !== 'undefined'){ %>
    value=<%= fName %> 
    <% } %>></label><br>
<label for='lName'>Last Name: <input name='lName' id='lName' type='text' <% if(typeof lName !== 'undefined'){ %>
    value=<%= lName %> 
    <% } %>></label><br>
<label for='uName'>User Name: <input name='uName' id='uName' type='text' <% if(typeof uName !== 'undefined'){ %>
    value=<%= uName %> 
    <% } %>></label><br>
<input type='submit' value='Register'>
</form>
</div>
</body>
</html>
<% delete message; %>
